<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="success">
            It actually works!
        </h1>
        <canvas id="main" width="300px" height="300px"></canvas>
        <!-- <script>
            const canvas = document.getElementById('main');
            var ctx = canvas.getContext('2d');
            ctx.beginPath();
            ctx.arc(95,50,40,0,2*Math.PI);
            ctx.stroke()
            ctx.closePath();
        </script> -->

    </body>
</html>