<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css"> 
    </head>
    <body>
        <form id="form" method="POST">
            <input type="text" id="num1">
            <button type="submit">Click me</button>
        </form>
        <p id="errorLbl" class="success"></p>
        <img class="imagery" src="https://i.stack.imgur.com/Ea2oJ.png"
             width=300px height=300px>

        <script>
            const foo  = document.getElementById('form');
            const errorLabel = document.getElementById('errorLbl');
            foo.addEventListener('submit', (e) => {
                e.preventDefault();
                const number = document.getElementById('num1').value;
                var hdrs = new Headers();
                var data = "num1=" + number
                const req_addr = "127.0.0.1/secret?" + data;
                const customInit = {
                    method : 'POST',
                    headers: hdrs,
                }
                var request = new Request(req_addr, customInit);
                fetch(request)
                    .then(response => {
                        if (response.status === 200){
                            errorLabel.textContent  = "it's 200, duuuude";
                            errorLabel.className = "success";
                            console.log(errorLabel.className);
                            foo.reset();
                        }
                        else if (response.status === 400)
                        {
                            
                        }
                    })
            });
        </script>
    </body> 
</html>