<html>
    <head>
        <link href="secret.css" rel="stylesheet" type="text/css"> 
    </head>
    <body background="nasa.png">
        <form id="form" method="POST">
            <input type="text" id="num1">
            <input type="text" id="num2">
            <button type="submit">Solve</button>
        </form>
        <p id="result"></p>
        <p id="errorLbl" class="success"></p>
        <img class="imagery" src="https://i.stack.imgur.com/Ea2oJ.png"
             width=300px height=300px>

        <script>
            const foo = document.getElementById('form');
            const res = document.getElementById('result');
            const errorLabel = document.getElementById('errorLbl');
            foo.addEventListener('submit', (e) => {
                e.preventDefault();
                const number1 = document.getElementById('num1').value;
                const number2 = document.getElementById('num2').value;
                var hdrs = new Headers();
                var data = "num1=" + number1 + "&" + "num2=" + number2;
                const method = "POST";
                //Not a secure way to send POST requests!!!!
                const http = new XMLHttpRequest();
                const url =  "http://127.0.0.1/secret?" + data;
                http.open(method, url);
                http.send();
                //On data retrieved listener
                http.onreadystatechange=function(){
                    if (this.status === 200){
                        res.className = "success"
                        res.innerHTML = http.responseText
                        foo.reset()
                    }
                    else{
                        alert("something went wrong, duuude")
                    }
                }
            });
        </script>
    </body> 
</html>